[submodule "mkl-dnn"]
	path = mkl-dnn
	url = ../mkl-dnn.git
[submodule "weights"]
	path = weights
	url = ../oidn-weights.git
[submodule "cutlass"]
	path = cutlass
	url = https://github.com/NVIDIA/cutlass.git
