[submodule "mkl-dnn"]
	path = mkl-dnn
url=https://github.com/OpenImageDenoise/mkl-dnn.gitOpenImageDenoise/mkl-dnn.git
[submodule "weights"]
	path = weights
url=https://github.com/OpenImageDenoise/oidn-weights.git
