## Copyright 2024 Intel Corporation
## SPDX-License-Identifier: Apache-2.0

name: (Internal) CI workflow
on:
  push:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  notarize-macos-arm:
    secrets: inherit
    uses: intel-innersource/libraries.devops.renderkit.workflows/.github/workflows/macos.yml@main
    with:
      project: oidn
      runs-on: '[ "macOS", "ARM64", "build" ]'
      cmd: |
        curl -L -o oidn-2.3.3.arm64.macos.tar.gz https://github.com/RenderKit/oidn/releases/download/v2.3.3/oidn-2.3.3.arm64.macos.tar.gz
        tar xzf oidn-2.3.3.arm64.macos.tar.gz
        zip -r oidn-2.3.3.arm64.macos.zip oidn-2.3.3.arm64.macos/
      notarize-package: ./oidn-2.3.3.arm64.macos.zip
      artifact-out: notarize-macos-arm
      artifact-path: ./oidn-2.3.3.arm64.macos.zip